anime01 	 = 0.1s ease
anime  		 = 0.2s ease
anime04 	 = 0.4s ease

/*
** Animation logo
*/

.logo:hover
	.circle
		display block
		width 100px
		height 100px
		z-index -1

		border 1px solid white
		border-radius 50%
		
		position absolute
		top -10px
		
		-webkit-animation circleAnime 0.4s ease
		-moz-animation circleAnime 0.4s ease
		animation circleAnime 0.4s ease
		opacity 0

/*
** Animation Items
*/

.items
	.item
		transition(anime)
		box-shadow 0px 0px 4px 0px rgba(0,0,0,0.2)

		&:hover
			transform(scale(1.04))
			box-shadow 0px 0px 8px 0px rgba(0,0,0,0.32)



/*
** Key frames
*/

@keyframes circleAnime
	0%{opacity: 0.0;border 1px solid white}
	30%{opacity: 0.8;border 5px solid white;}
	100%{opacity: 0;transform: scale(1.5);border 1px solid white;}

@keyframes menuAnime
	0%{	background-color: white;}
	100%{ background-color: bg;}

@keyframes hackBg
	0%{	background-color: transparent;}
	90%{ background-color: transparent;}
	100%{ background-color: #F5F5F5;}

@keyframes background
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}


