.back
	background-color rgba(0,0,0,0.2)
	width 40px
	height 40px
	display inline-block

	img
		width 16px
		height 16px

.lien
	padding 6px 15px
	background linear-gradient(45deg, #40c4ff, #0091ea)
	color white
	font-size 1.6rem
	font-family 'Noto Sans', serif
	border-radius 6px
	box-shadow 0px 0px 4px 0px rgba(0,0,0,0.2)
	transition(all 0.2s ease)

	&:hover
		box-shadow 0px 0px 8px 0px rgba(0,0,0,0.32)
		transform(scale(1.04))