.bg
	width 100%
	z-index 10

	#bg__svg
		position absolute

	.shadow__svg
		-webkit-filter drop-shadow( 0 -2px 2px hsla(0, 0%, 0%, 0.1))
		filter drop-shadow(  0 -2px 2px hsla(0, 0%, 0%, 0.1))

	#poly1
		fill bg !important

.triangle
	position absolute
	top 0
	bottom 0
	left 2px

	#poly1,
	#poly2
		fill white

.triangle.odd
	right -2px
	left auto