.bg
	width 100%
	z-index 10

	#bg__svg
		position absolute
		min-height 800px
		max-height 1500px
		
	.shadow__svg
		-webkit-filter drop-shadow( 0 -2px 2px hsla(0, 0%, 0%, 0.1))
		filter drop-shadow(  0 -2px 2px hsla(0, 0%, 0%, 0.1))

	#poly1
		fill bg !important

.accueil
	.bg
		#bg__svg
			position absolute
			min-height auto
			max-height auto

.triangle
	position absolute
	top 0
	bottom 0
	left 2px

	#poly1,
	#poly2
		fill white

.triangle.odd
	right -2px
	left auto

.message-succes.green-message 
	#line
		fill #8da85e

.message-succes.red-message
	#line
		fill default-flash
