#cls-1
	width 24px
	height auto

#cls-2
	width 18px
	height auto

#cls-3
	width 20px
	height auto


.facebook
	display block
	width 25px
	height 25px

	&:after
		content url('../images/icone-facebook.svg')
		display block
		width 25px
		height 25px
		
.twitter
	display block
	width 25px
	height 25px

	&:after
		content url('../images/icone-twitter.svg')
		display block
		width 25px
		height 25px
