input[type="text"],
input[type="url"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"]
	width 100%
	background-color white
	border-radius (0)
	border 1px solid default-white
	height 40px
	padding 0 20px
	margin-bottom 20px

input[type="submit"]
	background-color default-white
	height 40px
	text-align center
	font-size 1.2rem
	width 100%
	color white
	text-transform uppercase
	margin-top 20px
	border none

textarea
	width 100%
	background-color white
	border-radius (0)
	border 1px solid default-white
	color default-white

&::-webkit-input-placeholder
	font-size 11px
	color default-white
	opacity 1

&:-moz-placeholder
	font-size 11px
	color default-white
	opacity 1

&::-moz-placeholder
	font-size 11px
	color default-white
	opacity 1

&:-ms-input-placeholder
	font-size 11px
	color default-white
	opacity 1
