input[type="text"],
input[type="url"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"]
	width 100%
	background-color white
	border-radius (4px)
	border 1px solid type
	height 40px
	padding 0 20px
	margin-bottom 20px
	font-family 'Noto Sans', serif
	font-size 1.4rem


input[type="submit"]
	background-color default-white
	height 40px
	text-align center
	font-size 1.2rem
	width 100%
	color white
	text-transform uppercase
	margin-top 20px
	border none

textarea
	width 100%
	background-color white
	border-radius (4px)
	border 1px solid type
	padding 10px 20px
	margin-bottom 20px

&::-webkit-input-placeholder
	font-size 11px
	color default-white
	opacity 1

&:-moz-placeholder
	font-size 11px
	color default-white
	opacity 1

&::-moz-placeholder
	font-size 11px
	color default-white
	opacity 1

&:-ms-input-placeholder
	font-size 11px
	color default-white
	opacity 1

form
	margin 40px 0

	.form-group
		margin 0 10px

	.ng-invalid:not(form)
		border-left 4px solid default-orange

	input:focus,
	textarea:focus
		box-shadow 0px 0px 4px 0px rgba(0,0,0,0.2)
		border none
		background-color rgba(176,190,197,0.25)

	.btn
		border none
		cursor pointer

	button[disabled]:hover,
	button[disabled]
		background rgba(176,190,197,0.9)
		box-shadow none
		cursor inherit
		transform scale(1)

