a
	transition(0.2s ease-in-out)
	text-decoration none
	color inherit
	background-color transparent
	-webkit-text-decoration-skip objects

/*
** Liens menu
*/
.menu__link
	a
		font-size 1.8rem
		color titre

.bt
	padding 7px 20px
	display inline-block
	border 1px solid white
	border-radius 30px
	text-transform uppercase
	font-weight 700
	font-size 1.4rem

	&.blanc
		color white	

	&.bleu
		background linear-gradient(135deg, rgba(105,194,250,1), rgba(22,153,219,1))
		color white
		padding 12px 20px
		font-size 1.3rem

.apercu__description
	a
		text-decoration underline
		font-weight bold

		&:hover 
			color default-orange
