.margin-left
	margin-left margin-space

.margin-right
	margin-right margin-space

.margin-horizontal
	margin-left margin-space
	margin-right margin-space

.margin-top
	margin-top margin-space

.margin-bottom
	margin-bottom margin-space

.margin-bottom-middle
	margin-bottom 20px
	
.margin-vertical
	margin-top margin-space
	margin-bottom margin-space

.margin
	margin margin-space

.margin-auto
	margin auto

.no-margin
	margin 0
