.padding-left
	padding-left padding-space

.padding-right
	padding-right padding-space

.padding-horizontal
	padding-left padding-space
	padding-right padding-space

.padding-top
	padding-top padding-space

.padding-bottom
	padding-bottom padding-space

.padding-vertical
	padding-top padding-space
	padding-bottom padding-space

.padding
	padding padding-space
