h3
	font-size 1.4rem

h4
	font-size 1.4rem

h1,
h2,
h3,
h4,
h5
	margin-top margin-space
	margin-bottom margin-space
	font-family 'Noto Sans', serif
	color titre
	-webkit-margin-before 0

h1
	font-size 2.3rem
	line-height 2.3rem
	font-weight bold
	color white
	text-transform uppercase
	display inline-block
	border 1px solid white
	border-radius(6px)
	padding 6px 15px


h2
	font-size 1.8rem
	line-height 1.8rem
	margin-bottom 15px
	text-transform uppercase

h3
	color default-orange
	text-transform uppercase
	line-height 1.7rem
	font-size 1.7rem
	color default-orange

p
	font-size 1.3rem
	line-height 2rem
	margin-bottom 10px
	color courant

strong
	font-weight 700
	font-size 1.4rem
	color #636363

.center-align
	text-align center

.right-align
	text-align right

.left-align
	text-align left

.justify-align
	text-align justify

.small-text
	font-size 1.1rem	

.uppercase
	text-transform uppercase

.capitalize
	text-transform capitalize

.normal
	text-transform none !important
	text-decoration none

.type
	font-size 1.2rem
	text-transform uppercase
	color type

.word-wrap
	white-space normal
	word-break break-all

.no-decoration
	text-decoration none

.pre
	white-space pre

.pre-wrap
	white-space pre-wrap

.pre-line
	white-space pre-line
	word-break break-all

ul
	li
		margin-left 20px
		padding-left 20px
		list-style none
		background transparent url('../images/icone-li.png') no-repeat left center
		background-size 11px 8px
		line-height 2.4rem