h1
	font-size 5rem
	line-height 5rem

h2
	font-size 2.8rem
	line-height 5rem

h3
	font-size 1.4rem

h4
	font-size 1.4rem

h1,
h2,
h3,
h4,
h5
	margin-top margin-space
	margin-bottom margin-space
	font-family 'Noto Serif', serif
	color titre
	-webkit-margin-before 0

p
	font-size 1.4rem
	margin-bottom 10px
	color courant

strong
	font-weight normal

.center-align
	text-align center

.right-align
	text-align right

.left-align
	text-align left

.justify-align
	text-align justify

.small-text
	font-size 1.1rem	

.uppercase
	text-transform uppercase

.capitalize
	text-transform capitalize

.normal
	text-transform none !important
	text-decoration none

.word-wrap
	white-space normal
	word-break break-all

.no-decoration
	text-decoration none

.pre
	white-space pre

.pre-wrap
	white-space pre-wrap

.pre-line
	white-space pre-line
	word-break break-all

.fontNormal
	font-family 'gyreadRegular'

.fontWeight
	font-family 'gyreadBold'

.fontItalic
	font-family 'gyreadItalic'