*, *:before, *:after
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box
	margin 0
	padding 0

html
	margin 0
	padding 0

	font-size 62.5%
	line-height 1.15
	
	-ms-text-size-adjust 100%
	-webkit-text-size-adjust 100%

	height 100%
	overflow auto

body
	min-height 100vh
	height 100%
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	text-rendering optimizeLegibility

	font-size 1.4rem
	font-family 'Roboto', sans-serif
	color courant

	margin 0
	padding 0

	background transparent url('../images/bg-city.png') no-repeat center
	background-size cover


	.wrapper
		min-height 100vh
		background linear-gradient(135deg, rgba(251,192,45,0.9), rgba(250,140,99,0.9), rgba(255,82,82,0.9), rgba(231,53,113,0.9), rgba(209,95,114,0.9),rgba(251,192,45,0.9))
		background-size 300% 300%

		
		.wrapper__content
			position relative
			z-index 20
			min-height calc(100vh - 198px)

		.container
			width 1200px
			margin 0 auto


body.accueil
	.wrapper
		min-height 100vh
		background linear-gradient(135deg, rgba(251,192,45,0.9), rgba(250,140,99,0.9), rgba(255,82,82,0.9), rgba(231,53,113,0.9), rgba(209,95,114,0.9),rgba(251,192,45,0.9))
		background-size 300% 300%

		animation background 30s ease infinite	
	.content__inner
		background-color transparent !important

body.projet
	.wrapper__content
		min-height calc(100vh - 238px)
		
		.content__inner
			background-color bg
			animation hackBg 0.5s ease
			margin-top 7%
			padding-bottom 7%


body.contact
	.wrapper__content
		min-height calc(100vh - 238px)