*, *:before, *:after
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box
	margin 0
	padding 0

html
	margin 0
	padding 0

	font-size 62.5%
	line-height 1.15
	
	-ms-text-size-adjust 100%
	-webkit-text-size-adjust 100%

	height 100%
	overflow auto

body
	min-height 100vh
	height 100%
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	text-rendering optimizeLegibility

	font-size 1.4rem
	font-family 'Roboto', sans-serif
	color courant

	margin 0
	padding 0

	.outside_wrapper
		background transparent url('../images/bg-city.png') no-repeat center
		background-size cover	


	.wrapper
		min-height 100vh
		background linear-gradient(135deg, rgba(251,192,45,0.9), rgba(250,140,99,0.9), rgba(255,82,82,0.9), rgba(231,53,113,0.9), rgba(209,95,114,0.9),rgba(251,192,45,0.9))
		background-size 300% 300%

		
		.wrapper__content
			position relative
			z-index 20
			min-height calc(100vh - 198px)

		.container
			width 1200px
			margin 0 auto


body.accueil
	.wrapper
		min-height 100vh
		background linear-gradient(135deg, rgba(251,192,45,0.9), rgba(250,140,99,0.9), rgba(255,82,82,0.9), rgba(231,53,113,0.9), rgba(209,95,114,0.9),rgba(251,192,45,0.9))
		background-size 300% 300%

		animation background 30s ease infinite	

	.content__inner
		background-color transparent !important
		position absolute
		top 50%
		transform(translateY(-50%))
		left 0
		right 0

	#callBack
		background-color rgba(255, 255, 255, 0)
		box-shadow none

		svg
			fill white !important

		.pointille
			background-image linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 26.6666666667%) !important

		#actifBt
			top 270px
			right 29px
			border 2px solid rgba(255, 255, 255, 1) !important

body.projet
	.wrapper__content
		min-height calc(100vh - 238px)
		
		.content__inner
			background-color bg
			animation hackBg 0.8s ease
			margin-top 7%
			padding-bottom 7%

	#callBack
		background-color rgba(255, 255, 255, 1)
		border-radius 40px
		box-shadow 0px 0px 4px 0px rgba(0,0,0,0.2)

		&:after
			border 1px solid rgba(64, 196, 255, 0.6)

		&:before
			border 1px solid rgba(64, 196, 255, 0.6)

		a:hover
			svg
				fill white !important


body.projet_detail
	#callBack
		background-color rgba(255, 255, 255, 1)
		border-radius 40px
		box-shadow 0px 0px 4px 0px rgba(0,0,0,0.2)
		
		&:after
			border 1px solid rgba(64, 196, 255, 0.6)

		&:before
			border 1px solid rgba(64, 196, 255, 0.6)

		#actifBt
			top 400px
			right 29px

		a:hover
			svg
				fill white !important


body.contact
	.wrapper__content
		min-height calc(100vh - 238px)

	#callBack
		background-color rgba(255, 255, 255, 1)
		border-radius 40px
		box-shadow 0px 0px 4px 0px rgba(0,0,0,0.2)

		&:after
			border 1px solid rgba(64, 196, 255, 0.6)

		&:before
			border 1px solid rgba(64, 196, 255, 0.6)

		#actifBt
			top 530px
			right 29px

		a:hover
			svg
				fill white !important