/**
 * Colors
 */
default-blanc 		= #ffffff
default-noir 		= #000000
default-flash 		= #F50057
default-gris		= #616161
default-orange 		= #ff6d00
type				= #b0bec5
titre				= #424242
courant				= #757575
bg					= #F5F5F5


/**
 * Spacing
 */
padding-space 		= 30px
margin-space 		= 30px

/**
 * Other
 */
container-width 	= 1310px
radius-width 		= 3px

/**
 * Box shadow
 */
shadow1			  	= 0px 0px 5px 0px rgba(0,0,0,0.2)

