.container
	width 700px !important
	position relative

	h1
		transform rotate(-15deg)
		z-index 20
		position absolute
		top -90px
		left 80px

		span
			text-align right	

	> div
		position relative
		z-index 10

		.shape_img
			width 250px
			height 322px
			margin-right 25px
			overflow visible
	
			display inline-block
			position relative
			
			border-radius 50%
			-webkit-shape-outside circle()
			shape-outside circle()
			float left

			.bulle
				perspective 800px
				padding-bottom 40px
				overflow visible
	
			.shadow
				position absolute
				left 0
				bottom -50px

		.shape_text
			h3
				margin 0
				padding 75px 0 10px 0
				color white
				text-transform none
				font-size 1.5rem

		.shape_icon
			position absolute
			width 300px
			height 300px

			top 0
			left -90px
			perspective 300px

			.phone,
			.pen
				transform-origin 100% 100%
				position absolute

			.phone
				top 60%
				left -70px
				position absolute
				transform rotateZ(30deg) translate3d(0,0,50px)

			.pen
				top 55%
				position absolute 
				left -60px
				transform rotateZ(50deg) translate3d(0,0,50px)
	
		p
			color white
			text-align justify

			a
				text-decoration underline

		.bt
			float right
			margin-top 35px
			border none

	.svg_bt
		width 166px
		height 196px
		display block
		float right
		position relative
		margin-top -50px

		svg
			transition(all 2s ease-in-out)

		&:hover
			transform scale(1.07)

			svg
				filter drop-shadow( 0px 3px 6px hsla(0, 0%, 0%, 0.3) )

@media (max-width: 800px)
	.container
		> div
			.bt,
			.svg_bt
				float none

			.svg_bt
				margin 0 auto

			.bt
				text-align center
				margin-top -15px
				display block


			.shape_img
				display block
				float none
				margin 0 auto

@media (max-width: 475px)
	h1
		font-size 7rem

		span
			font-size 5.8rem
	.container
		> div
			.shape_img
				height auto
		
		.bulle__img
			width 250px
			margin 0 auto
			display block

		.pen
			width 200px
			top 40% !important
			left 40px !important

		.phone
			width 200px
			top 45% !important
			left 39px !important