#callBack
	position absolute
	top 50%
	right 32px
	width 60px
	transform translateY(-50%)
	z-index 9999

	.pointille
		height 100px
		width 1px
		margin 0 auto

		background-image linear-gradient(to bottom, rgba(255,255,255,0.95), rgba(255,255,255,0) 26.6666666667%)
		background-position 0px 3px
		background-size 1px 6px

	.bt__icon
		text-align center
		svg
			margin 0 auto
