#contact
	padding-bottom 40px
	
.container
	width 800px !important
	margin 0 auto
	background-color white
	box-shadow 0px 0px 5px 0px rgba(0,0,0,0.2)
	border-radius 6px
	overflow hidden
	padding 40px

	p
		font-size 1.6rem

	strong
		font-size 1.8rem

	a
		text-decoration underline

	.lien
		font-size 2rem
		text-decoration none

	.reseaux
		margin-top 10px
		
		a
			margin 10px
			text-decoration none