#contact
	padding-bottom 40px
	
.container
	width 800px !important
	margin 0 auto
	background-color white
	box-shadow 0px 0px 5px 0px rgba(0,0,0,0.2)
	border-radius 6px
	overflow hidden
	padding 40px

	.lien
		font-size 2rem

	.reseaux
		margin-top 10px
		
		a
			margin 10px