.items
	.item
		position relative
		width 800px
		height 150px

		background-color white
		border-radius 6px
		margin 20px 0
		padding-right 40px
		cursor pointer

		.media
			width 25%
			height 150px
			overflow hidden
			margin-right 40px
			border-top-left-radius 6px
			border-bottom-left-radius 6px

			img
				width auto
				height 100%

		.descriptif
			width 74%

			p
				font-size 1.3rem


		.more
			position absolute
			border-radius 50%
			background linear-gradient(45deg, #40c4ff, #0091ea)

			top 50%
			right -24px


			img
				width 15px
				height 15px


	.item:nth-child(even)
		-ms-align-self flex-end
		-webkit-align-self flex-end
		align-self flex-end
		-ms-flex-direction row-reverse
		-webkit-flex-direction row-reverse
		flex-direction row-reverse
		padding-left 40px
		padding-right 0

		.more
			left -24px

		.media
			margin-left 40px
			margin-right 0
			border-top-left-radius 0
			border-bottom-left-radius 0
			border-top-right-radius 6px
			border-bottom-right-radius 6px

