.select_container
	height 60px
	
.items
	.item
		position relative
		width 800px
		height 150px

		background-color white
		border-radius 6px
		margin 20px 0
		padding-right 40px
		cursor pointer

		h2
			color #0287c9
			font-weight bold !important
			
		.media
			width 200px
			height 150px
			overflow hidden
			margin-right 40px
			border-top-left-radius 6px
			border-bottom-left-radius 6px
			position relative
			background linear-gradient(45deg, #40c4ff, #0091ea)

			img
				width auto
				height 100%

			.triangle
				right -1px
				left auto

		.descriptif
			width 74%

			p
				font-size 1.3rem

		.more
			position absolute
			border-radius 50%
			background linear-gradient(45deg, #40c4ff, #0091ea)

			top 50%
			right -24px

			img
				width 15px
				height 15px

	.item:nth-child(even)
		-ms-align-self flex-end
		-webkit-align-self flex-end
		align-self flex-end
		-ms-flex-direction row-reverse
		-webkit-flex-direction row-reverse
		flex-direction row-reverse
		padding-left 40px
		padding-right 0

		.more
			left -24px

		.media
			margin-left 40px
			margin-right 0
			border-top-left-radius 0
			border-bottom-left-radius 0
			border-top-right-radius 6px
			border-bottom-right-radius 6px
			background linear-gradient(45deg, #0091ea, #40c4ff)

			.triangle
				left -1px
				right auto


@media (max-width: 800px)
	.items
		.item
			width 100%
			height auto
			padding-right 50px

			.more
				right 0

			&:nth-child(2n)
				padding-left 50px

				.media
					margin-left 20px
					border-top-left-radius 6px
					border-bottom-left-radius 6px
					border-top-right-radius 6px
					border-bottom-right-radius 6px	

				.more
					left 0

			.descriptif
				width calc(100% - 248px)

			.media
				width 200px
				height 150px
				border-top-left-radius 6px
				border-bottom-left-radius 6px
				border-top-right-radius 6px
				border-bottom-right-radius 6px	
				margin-right 20px

				.triangle
					display none

@media (max-width: 560px)
	.items
		.item
			-ms-flex-direction column
			-webkit-flex-direction column
			flex-direction column
			padding 20px

			.descriptif
				width 100%

			.more
				bottom -24px
				right auto
				top auto
				transform translateX(-50%)
				left 50%

			h2
				margin-top 0

			.descriptif
				padding-top 10px
				
			.media
				margin-right 0
				margin-left 0

			&:nth-child(2n)
				-ms-flex-direction column
				-webkit-flex-direction column
				flex-direction column
				padding 20px

				.media
					border-top-left-radius 6px
					border-bottom-left-radius 6px
					border-top-right-radius 6px
					border-bottom-right-radius 6px

				.more
					bottom -24px
					right auto
					top auto
					transform translateX(-50%)
					left 50%	

