<div class="content__inner">

	<div class="container" [@bulleAnimation]>

		<h1> Developpeur <span>Front-end</span> </h1>

		<div class="">

			<div >

				<div class="shape_img">

					<div class="bulle">
						<img  src="assets/images/bulle.png"
							  srcset="assets/images/bulle@2x.png"					
							  class="bulle__img"
							  [@bunceAnimation]="state"
							  (@bunceAnimation.done)="onEnd($event)">
					</div>

					<div class="shape_icon">

						<img   src="assets/images/pen"
							   srcset="assets/images/pen@2x.png"
							   class="pen" [@rotatePenAnimation]="etat">

						<img 	src="assets/images/phone.png"
								srcset="assets/images/phone@2x.png"
					 			class="phone" 
					 			[@rotatePhoneAnimation]="etat">
					</div>


					<img 	src="assets/images/shadow.png"
							srcset="assets/images/shadow@2x.png"
					 		class="shadow"
							  [@shadowAnimation]="state"
							  (@shadowAnimation.done)="onEnd($event)">

				</div>
				
				<div class="shape_text">
					<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac purus nec arcu tincidunt auctor. Aenean sapien urna, feugiat at est non, blandit accumsan orci. Nullam non quam non ipsum bibendum suscipit quis non magna. Proin egestas rhoncus venenatis. Aliquam ligula ligula, elementum pellentesque nulla in, varius commodo nulla. Vivamus at risus accumsan, vehicula tellus ac, pretium lectus. Vivamus ante lectus, iaculis sed dictum nec, fermentum nec eros. 
					</p>
				</div>		

			</div>
		</div>
	</div>
</div>