<div class="outside_wrapper">

<div class="wrapper">

	<bg [bgsvg]="bgsvg"></bg>

	<!--
	Header
	-->
	<header class="layout horizontal justified">

    	<nav-primary></nav-primary>
		<logo></logo>

	</header>

	<!--
	Content
	-->
	<div class="wrapper__content">

		<div [@routeAnimation]="prepRouteState(routerOutlet)">
			<router-outlet #routerOutlet="outlet"></router-outlet>
		</div>

		<nav-call></nav-call>

	</div>

	<!--
	Footer
	-->
	<footer id="footer" class="bgBlack layout horizontal center-center wrap">
		@2018 - Tous droits réservés : Maxence PUPPETTO - Développeur Front-end -&nbsp;
		<a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Mentions Légales</a> &nbsp;-&nbsp;
		<a href="https://angular.io/" target="_blank" title="Angular">Angular</a> &nbsp;- &nbsp;
		<a href="https://github.com/aser75" class="git" target="_blank" title="GitHub - voir le code source"></a> &nbsp; - &nbsp;Bretagne / Lanester
	</footer>

</div>

</div>

<!--
Popup
-->
<router-outlet name="popup"></router-outlet>
