<div class="wrapper">

	<bg [bgsvg]="bgsvg"></bg>

	<!--
	Header
	-->
	<header class="layout horizontal justified">
	
    	<nav-primary></nav-primary>
		<logo></logo>
		
	</header>

	<!--
	Content
	-->
	<div class="wrapper__content">

		<div [@routeAnimation]="prepRouteState(routerOutlet)">
			<router-outlet #routerOutlet="outlet"></router-outlet>
		</div>


		
		<nav-call></nav-call>
		
	
	</div>

	<!--
	Footer
	-->
	<footer id="footer" class="bgBlack">
		Tous droits réservés : Maxence PUPPETTO - Aser Web Développeur Front-end - <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Mentions Légales</a> - Bretagne / Lorient
	</footer>

</div>

	<!--
	Popup
	-->
	<router-outlet name="popup"></router-outlet>