<div class="hackBg"></div>

<div id="contact">

	<div class="center-align">
	  <h1>
	    Contact
	  </h1>
	</div>

	<div class="content__inner">
	
		<div class="container">
	
			<p>
				<strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit</strong>. Quisque vel varius massa. Praesent sed 	aliquam neque. Nam eget commodo lectus. Cras laoreet egestas pellentesque. Integer nunc sem, placerat eget eleifend 	a, molestie id lectus. Aliquam bibendum malesuada dignissim. Vestibulum mauris mi, aliquam aliquet efficitur vitae, 	viverra quis neque. Aenean gravida finibus dui, et imperdiet est aliquet at.
			</p>
	
			<div class="layout vertical center-center">
	
				<a href="tel:0618967781" class="lien margin-top">06 18 96 77 81</a>
	
				<div class="layout horizontal reseaux">
	
					<a href="https://twitter.com/" class="twitter" target="_blank"></a>
					<a href="https://www.facebook.com/" class="facebook" target="_blank"></a>
					
				</div>
	
			</div>
	
			<div>
				<contact-form></contact-form>
			</div>
	
		</div>

	</div>

</div>