<div class="hackBg"></div>

<div id="contact">

	<div class="center-align">
	  <h1>
	    Contact
	  </h1>
	</div>

	<div class="content__inner">
	
		<div class="container">
	
			<p class="center-align">
				<strong class="uppercase">Une question ?</strong><br><br>
				Un besoin de conseil, n'hésitez pas à me contacter par téléphone / <a href="mailto:maxence.puppetto@gmail.com">maxence.puppetto@gmail.com</a> / Formulaire !!!<br><br>
			</p>
			<p class="center-align">
				<strong>Adresse :</strong>
				3 rue saint exupery, <br>
				<a href="https://www.google.fr/maps/place/56600+Lanester/@47.7685844,-3.3610174,13z/data=!3m1!4b1!4m5!3m4!1s0x48105c27c89d9345:0x40ca5cd36e2c400!8m2!3d47.763494!4d-3.347354" target="_blank">Lanester 56600</a> / Bretagne.<br>
				<strong>Siret :</strong> 52781907200010
			</p>
	
			<div class="layout vertical center-center">
	
				<a href="tel:0618967781" class="lien margin-top">06 18 96 77 81</a>
	
				<div class="layout horizontal reseaux">
	
					<a href="https://twitter.com/MaxencePuppetto" class="twitter" target="_blank"></a>
					<a href="https://www.facebook.com/Aser-207964606439370/" class="facebook" target="_blank"></a>
					
				</div>
	
			</div>
	
			<div>
				<contact-form></contact-form>
			</div>
	
		</div>

	</div>

</div>