<div class="container center-align">
  <h1>
    {{title}}
  </h1>
</div>

<div class="content__inner">

	<div class="container">

		<!--<ul>
			<li *ngFor="let projet of projets" [routerLink]="['/detail', projet.id]">
				<span>{{projet.id}}</span> {{projet.nom}}
			</li>
		</ul>
	-->
		<div class="items layout vertical" [@listAnimation]="projets?.length">

			<div  
				*ngFor="let projet of projets; let i = index; let odd = odd; let test = index;" 
				[routerLink]="['/projet', projet.id]" 
				[class.odd]="odd"
				class="item id-{{i}} layout horizontal justified center-center">
				
				<div class="media"><img 
					src="assets/images/exemple.jpg"
				 	srcset="assets/images/exemple@2x.jpg 1.5x"
				 	alt="">
				</div>
				
				<div class="descriptif">
	
					<div class="layout horizontal justified">			
						<h2>{{projet.name}}</h2>
	
						<div class="type">
							Lorem ipsum dolor sit amet
						</div>
					</div>
				
					<p class="apercu__description">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi posuere lacus enim, vitae venenatis nulla sollicitudin sed. Donec tincidunt enim enim, non pharetra mauris consequat at. Donec id lectus mollis, fringilla tellus convallis, placerat eros.
					</p>
				</div>

				<div class="more layout vertical center-center"><img src="assets/images/more.svg" alt="Voir les détails"></div>
			</div>

		</div>

	</div>


</div>