<div class="hackBg"></div>

<div class="details-hack">

	<div class="details" *ngIf="projet">
		
		<div class="title layout horizontal">
			<a routerLink="/projet" class="back layout horizontal center-center">
				<img src="assets/images/icon-back.svg" alt="Retour en arrière">
			</a>
			<h1 class="self-center">{{projet.nom}}</h1>
		</div>

		<!--
			Image Projet
		-->

			<img
				src="{{projet.poster.path | url:projet.poster.disk_name:projet.poster.id:800}} "
				srcset="{{projet.poster.path | url:projet.poster.disk_name:projet.poster.id:1600}} 2x"
				alt="{{projet.nom}}"
				class="shadow_type1">
	
		<div class="padding">
	
			<div class="layout horizontal justified">
				<h2 class="self-center no-margin">Descriptif</h2>
				<a *ngIf="projet.link" href="{{projet.link}}" class="lien" target="_blank">Voir le résultat</a>
			</div>
	
			<div class="margin-bottom">
				<div class="apercu__description" [innerHTML]="projet.descriptif "></div>
			</div>
	
			<h2>Outils</h2>
	
			<ul>
				<li *ngFor="let listeCat of projet.categories" class="{{listeCat.slug}}">{{listeCat.categorie_titre}}</li>
			</ul>
	
		</div>
	
	</div>

	<div class="other" *ngIf="projet">
		<div class="inside">
		
			<div class="layout horizontal justified">

				<a  *ngFor="let projetOther of projets | other:projet.id | slice:0:4"
					[routerLink]="['/projet', projetOther.id]" 
					class="item layout horizontal justified center-center"
					id="item-{{i}}">
				<img 
					src="{{projetOther.miniature.path}}"
				 	srcset="{{projetOther.miniature.path}} 1.5x"
				 	alt="">
				</a>
	
			</div>
	
			<h3>Les autres projets</h3>
	
		</div>
	</div>

</div>
